@import url(./colors.css);
@import url(./fonts.css);
* {
    box-sizing:border-box;
    margin:0
}
body {
    width: 1160px;
    height:1100px;
    margin-top: 0px;
    margin-left: 112px;
}
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 15px; 
}
.header_icon { 
    width : 20px;
    height: 20px;
    margin-right: 10px;
}
.header_icon img {
    width : 100%;
    height : 100%;
    object-fit: fill;
}
#head_pict {
    width: 250px;
    display: flex;
    align-items: center;
    padding-left: 86px;
    }
#my_picture { 
    width : 150px;
    height : 150px;
    border-style: solid;
    border-color: var(--white);
    border-width: 5px;
    border-radius: 50%;

}
img {
    width : 100%;
    height : 100%;
    object-fit: cover;
    border-radius: 50%;
}
header h1 {
    font-family: lato;
    font-size:2.9em;
    padding-top: 4px;
}
header {
    font-family: Raleway;
    display: flex;
    flex-direction: row;
    height: 238px;
    align-items: center;
}
#nice_details {
    display :flex;
    flex-direction: column;
    padding-left: 63px;
    row-gap: 5px;
}
#head_right_up {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#head_right_up p {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: raleway;
    font-size: 1.412em;
    font-weight: 600;
}
.twoimages {
    display:flex;
    flex-direction:row;
    column-gap: 5px;
    width:900px; 
    height: 25px;
    align-items: center;
    justify-content: center;
    padding-left : 40px;
    padding-top : 10px;
}

.headbox {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width : 150px;
    height: 25px;
    row-gap:5px;
}
.box {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width : 250px;
}
.box-language {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width : 270px;
}

.left_icon { 
    width : 15px;
    height: 15px;
}
.left_icon img {
    width : 100%;
    height : 100%;
    object-fit: fill;
}
#principale {
    display: flex;
    flex-direction: row;
}
h2 {
    font-family: lato;
    color: var(--blue);
    font-size: 1.5em;
    padding-top: 10px;
}
main {
    font-family: raleway;
    font-size: 1em;
}
#main_left {
    padding-top: 15px;
    padding-left: 51px;
    width: 350px;
    height:auto;
    display: flex;
    flex-direction: column;
    background-color: var(--light_grey);
}
#main_left ul{
    list-style-type: square;
    color: var(--blue);
}
h2 {
    padding-top: 35px;
    padding-bottom: 22px ;
}
#main_left ul p {
    font-family: raleway;
    color: black;

}
.subject {
    font-weight: 600;
}
#main_left ul {
    padding-left: 15px;
}
.line {
    display: flex;
    flex-direction: row;
}
.line-language {
    display: flex;
    flex-direction: row;
}

.subject {
    width:93px;
}
#main_left .line {
    width: 250px;
    padding-top: 10px;
}
#main_left .line-language {
    width: 270px;
    padding-top: 10px;
}

#main_left li {
    padding-top: 10px;
}

.ranking_stars {
    width: 135px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.language-right {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#main_right {
    width : 810px;
    padding-top: 16px;
    padding-left: 50px;
    padding-right: 45px;
    height:auto;
}
#profil {
    padding-top: 9px;
}
#profil p {
    text-indent: 23px;
    text-align: justify;
    font-size:1.03em;
}
.right_box {
    display: flex;
    flex-direction : row;
    justify-content: space-between ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.right_box_pro {
    display: flex;
    flex-direction : row;
    justify-content: space-between ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right_box_left p {
    font-size :0.9em;
    color: var(--dark_grey);
}
.right_box_right p {
    font-size: 0.9em;
    color : var(--blue);
}

footer {
    height:80px;
    background-color: var(--blue);
    justify-items: center;
    font-family : raleway;
    font-size: 0.8em;
    font-style: italic;
    color : var(--white);
}
.social_media {
    padding-top: 15px;
    width: 143px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}
.social { 
    width : 25px;
    height: 25px;
}
.social img {
    width : 100%;
    height : 100%;
    object-fit: fill;
}
footer div {
    padding-top:8px;
}
#head_pict a:hover {
    cursor: zoom-in;
}
.right_box:hover {
    border-left: 4px;
    border-left-color: var(--blue);
    border-left-style: solid;
    padding-left: 5px;
    background-color: var(--light_grey);
}
.headbox a {
    text-decoration: none;
    color: var(--white)
}
.social:hover {
    opacity:0.5;
} 

/*
.menu__link:hover {
    color: blue;
    font-size:1.6em;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    cursor: zoom-in;
}
*/